{% extends 'base_client.html.twig' %}

{% block page_contents %}
    <div>
        <!--- pintaremos lo que nos trae react -->
        <div id="client-app-view-login">
        </div>
    </div>
{% endblock %}